<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<main class="col-auto">
        {{{body}}}

        <h1 id="time-left"></h1>
        <h3 id="dashBirthday" data-id="{{birthday}}">Until Your Birthday On: {{birthday}}</h3>
      </main>

<script defer src="./js/clock.js"></script>