
        



       <div class="logout-btn">
        <button id="logout">logout</button>
      </div>

<div id="dashboard-logo">
      <a href="/"><img src="../images/logo.png"  id="logo-login"></a>
</div>

<div id="dashboard-container">
<div class="row" id="welcome">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<main class="col-auto">
        {{{body}}}

        {{!-- <h1 id="time-left"></h1>
        <h3>Until Your Birthday On {{birthdayMonth}} {{birthdayDay}}</h3>
      </main> --}}


{{!-- ---------------NEW Dashboard Birthday Input----------------------------------}}
<div id="formdiv">
    <input id="myDate" type="date">
    <button onclick="window.initializeClock('clockdiv', 'myDate')">Start</button>
</div>
<div id="clockdiv"></div>

  <div class="container">
  <h1 id="headline">Countdown to my birthday:</h1>
  <div id="countdown">
    <ul>
      <li><span id="days"></span>days</li>
      <li><span id="hours"></span>Hours</li>
      <li><span id="minutes"></span>Minutes</li>
      <li><span id="seconds"></span>Seconds</li>
    </ul>
  </div>
</div>
{{!-- ------------------------------------------------------------------------}}




<div id="dashboard-btns">
      <button><a href="/post">Add to Wishlist</a></button>
      {{!-- <button><a href="/updateWishlist">Change Wishlist</a></button> --}}
        <button><a href="/wishlist">View Wishlist</a></button>
        <button><a href="/friendWishlist">Find a Friend's Wishlist</a></button>
</div>
        </div>

<script src="/js/clock.js"></script>



