<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<main class="col-auto">
        {{{body}}}
        dashboard page handlebars

        <h1 id="time-left"></h1>
      </main>

<script src="./js/clock.js"></script>



