<div class="row">
  <div class="col-md-6">
    <h2>Find a friend's wishlist!</h2>

    <form class="friend-form">
     
      <div class="form-group">
        <label for="name-login">Friend's email:</label>
        <input class="form-input" type="text" id="friendEmail" />
      </div>
      </div>
      <br>
      <div class="form-group">
        {{!-- <button<class="btn btn-primary" id="login-btn" type="submit">submit</button> --}}

        <button><class="btn btn-primary" id="login-btn" type="submit"><a href="/friendFoundWishlist">View Friend's Wishlist</a></button>

      </div>
    </form>

</div>



<script src="./js/getFriendWishlist.js"></script>

