
{{!-- <h2 id="time-left"> </h2> --}}


<div>  
 
      
        {{!-- <a href="/"> --}}
        <img src="../images/logo.png" id="logo">
        {{!-- </a> --}}
     
    
      <div class="home-buttons">
        <button><a href="/login">LOGIN</a></button>
        <button><a href="/signup">SIGNUP</a></button>
      </div>
</div> 

<script src="/js/clock.js"></script>
