<section id="user-wishlist">
   

   
  <h1>{{name}}'s Wishlist! </h1>

  {{#each wishlists as |wishlist|}}
    <div class="wish-list-group">
      <a id="wishlist-text" class="list-item" href="/api/wishlist/{{id}}">
        <span>{{id}}. {{wishlist.wishlist_text}}</span>
      </a>
    </div>
  {{/each}}
 
</section>

<div id="dashboard-btns">
      <button><a href="/dashboard">Return to your dashboard</a></button>

      <!-- Email (subject, body) -->
<button><a href="mailto:?subject=Check out my Birthday Wishlist!&amp;body=Check out this site http://www.website.com.">
    Share Wishlist
</a></button>



</div>


{{!-- <script src="/path/to/html2canvas.min.js"></script> --}}
{{!-- <script src="./js/shareWishlist.js"></script> --}}
  